<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>VIPER+Quick Test</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This generates a new module using Viper architecture.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scpec to create</string>
			<key>Identifier</key>
			<string>specName</string>
			<key>Name</key>
			<string>New spec name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_specName:identifier___PresenterSpec</string>
			<key>Description</key>
			<string>The presenter spec name</string>
			<key>Identifier</key>
			<string>specPresenterNameIdentifier</string>
			<key>Name</key>
			<string>Presenter spec name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_specName:identifier___InteractorSpec</string>
			<key>Description</key>
			<string>The interactor spec name</string>
			<key>Identifier</key>
			<string>specInteractorNameIdentifier</string>
			<key>Name</key>
			<string>Interactor spec name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_specName:identifier___PresenterSpec.swift</key>
		<dict/>
		<key>___VARIABLE_specName:identifier___InteractorSpec.swift</key>
		<dict/>
	</dict>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>Generates a new spec for Viper Module architecture.</string>
	<key>CFBundleIdentifier</key>
	<string>___VARIABLE_specName:identifier___</string>
</dict>
</plist>
